<div class="number-scroll-column-container">
    <div class="number-scroll-column " [ngStyle]="{'transform': 'translateY('+numberPercent+'%)'}">
        <div class="number-scroll-digit"><span>9</span></div>
        <div class="number-scroll-digit"><span>8</span></div>
        <div class="number-scroll-digit"><span>7</span></div>
        <div class="number-scroll-digit"><span>6</span></div>
        <div class="number-scroll-digit"><span>5</span></div>
        <div class="number-scroll-digit"><span>4</span></div>
        <div class="number-scroll-digit"><span>3</span></div>
        <div class="number-scroll-digit"><span>2</span></div>
        <div class="number-scroll-digit"><span>1</span></div>
        <div class="number-scroll-digit"><span>0</span></div>
    </div><span class="number-placeholder">0</span>
</div>