<div class="number-scroll-view">
    <div class="number-scroll-digit" *ngIf="isNegative">-</div>
    <ng-container *ngIf="numArr.length > 1">
        <app-number-column *ngFor="let digit of numArr; trackBy: trackNumber" [numString]="digit"></app-number-column>
    </ng-container>

    <ng-container *ngIf="numArr.length == 1">
        <app-number-column [numString]="numArr[0]"></app-number-column>
    </ng-container>

    <ng-container *ngIf="showDecimal">

        <div class="number-scroll-digit" *ngIf="showDecimal">.</div>
        <ng-container *ngIf="decimalArr.length > 1">
            <app-number-column *ngFor="let digit of decimalArr; trackBy: trackNumber" [numString]="digit">
            </app-number-column>
        </ng-container>

        <ng-container *ngIf="decimalArr.length == 1">
            <app-number-column [numString]="decimalArr[0]"></app-number-column>
        </ng-container>

    </ng-container>




</div>